* {
  font-family: "DM sans";
  margin: 0px;
  padding: 0px;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #222222;
  position: fixed;
  height: 55px;
  width: 100%;
  z-index: 1;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar #envato {
  margin-top: 14px;
  margin-left: 13px;
  height: 30px;
  width: 164px;
}

.navbar .btn {
  font-size: 16px;
  color: white;
  background-color: #82b440;
  border: none;
  border-radius: 5px;
  margin-top: 11px;
  height: 33px;
  width: 108px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.home {
  height: 100vh;
  width: 100%;
  padding-top: 55px;
  background-image: url("background.jpg");
  background-size: 138%;
  background-repeat: no-repeat;
  background-position: top center;
}

.home .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  text-align: center;
  width: 100%;
  height: 150px;
}

.home .menu .logo {
  margin-top: 53px;
  /* margin-left: 12px; */
  width: 100px;
}

.home .menu ul {
  list-style-type: none;
  margin-top: 50px;
  display: inline-block;
}

.home .menu li {
  float: left;
}

.home .menu a {
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.home .menu a:hover {
  color: #ec4963;
}

.home .menu .dropdown {
  margin-top: 60px;
  position: relative;
  display: inline-block;
}

.home .menu .dropdown a {
  font-size: 16px;
  font-weight: bold;
}

.home .menu .dropdown #active {
  color: #ec4963;
}

.home .menu .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.home .menu .dropdown .dropdown-content a {
  color: grey;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: bold;
  /* padding-right: 20px; */
  /* padding-bottom: 20px; */
  padding: 15px 80px 15px 40px;
  /* padding-top: 20px; */
  /* line-height: 1; */
  display: block;
}

.home .menu .dropdown .dropdown-content a:hover {
  color: #ec4963;
  background-color: #ddd;
}

.home .menu .dropdown:hover .dropdown-content {
  display: block;
}

.home .menu button {
  font-weight: bold;
  margin-right: 60px;
  margin-top: 40px;
  float: right;
  cursor: pointer;
}

.home .heading {
  font-size: 70px;
  font-weight: bold;
  margin-top: 150px;
  text-align: center;
  font-family: sans-serif, "Helvetica Neue";
  letter-spacing: -2px;
}

.home .heading p {
  float: left;
  margin-left: 120px;
  font-family: 'Staatliches';
  color: white;
  line-height: 0.5;
}

.home .heading #p1 {
  font-size: 94px;
  letter-spacing: 1.5px;
}

.home .heading #p2 {
  font-size: 151px;
  letter-spacing: 2px;
}

.home .heading #p3 {
  color: #fd4c66;
  font-size: 57px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.home .heading #p4 {
  font-family: "DM sans";
  font-size: 19px;
  letter-spacing: .2px;
}

.home .heading button {
  width: 220px;
  height: 55px;
  margin-top: 70px;
  margin-left: 110px;
  cursor: pointer;
}

.home .heading button:hover {
  color: black;
}

.speaker {
  width: 100%;
  height: 800px;
}

.speaker .heading {
  width: 100%;
  height: 150px;
  padding-top: 20px;
  margin-top: 50px;
}

.speaker .heading h5 {
  font-size: 70px;
  line-height: 60px;
  font-weight: normal;
  display: block;
  margin-left: 150px;
  float: left;
  color: #151748;
  font-family: 'Staatliches';
  letter-spacing: 1px;
}

.speaker .contain {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
  margin: 30px;
  padding-top: 40px;
}

.speaker .contain img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  width: 265px;
  height: 290px;
  cursor: pointer;
}

.speaker .contain a {
  color: black;
  font-family: 'Staatliches';
  text-decoration: none;
}

.speaker .contain p {
  color: gray;
}

.speaker .contain img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.speaker .contain .one {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.speaker .contain .two {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.speaker .contain .three {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.speaker .contain .four {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.speaker .contain .five {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.speaker .contain .six {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.speaker .contain .hvr:hover h3 {
  color: #ec4963;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

.line {
  width: 100%;
  margin-top: 300px;
}

.line hr {
  width: 80%;
  margin: auto;
}

.schedule {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 60px;
}

.schedule .heading {
  width: 100%;
  height: 150px;
  padding-top: 20px;
  margin-top: 50px;
}

.schedule .heading h5 {
  font-size: 70px;
  line-height: 60px;
  font-weight: normal;
  display: block;
  margin-left: 150px;
  float: left;
  color: #151748;
  font-family: 'Staatliches';
  letter-spacing: 1px;
}

.schedule .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.schedule .banner .day {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}

.schedule .banner .day .dayNum {
  width: 90%;
  height: 150px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd8a66), color-stop(49%, #fd4c72), color-stop(85%, #fd387c), to(#fd2384));
  background-image: linear-gradient(to right, #fd8a66 0%, #fd4c72 49%, #fd387c 85%, #fd2384 100%);
}

.schedule .banner .day .dayNum .divide {
  float: right;
  padding-right: 60px;
  padding-top: 40px;
}

.schedule .banner .day .dayNum .divide h3 {
  font-size: 30px;
  font-family: "Staatliches",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.schedule .banner .day .dayNum .divide h4 {
  font-size: 18px;
  font-family: "Staatliches",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.schedule .banner .day .arrow-right {
  width: 0;
  height: 0;
  margin-top: 55px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fd2384;
}

.schedule .banner .date {
  width: 75%;
  border: 1px solid #5e5e5e;
}

.schedule .banner .date .miniSchedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 30px 30px 50px;
}

.schedule .banner .date .miniSchedule .timing {
  color: gray;
  font-size: 13px;
  width: 22%;
  padding-right: 30px;
  line-height: 30px;
}

.schedule .banner .date .miniSchedule .timing i {
  font-size: 15px;
  color: #ec4963;
}

.schedule .banner .date .miniSchedule .timing span {
  color: black;
}

.schedule .banner .date .miniSchedule .title {
  width: 78%;
  padding-left: 30px;
  font-size: 1.4rem;
}

.schedule .banner .date .miniSchedule .title h3 {
  font-family: "Staatliches", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400px;
}

.schedule .banner .date .miniSchedule .title .desc {
  color: grey;
  font-size: 14px;
  margin-top: 30px;
}

.schedule .banner .date .miniSchedule .active {
  color: #ec4963;
}

.schedule .banner .date .miniSchedule:hover h3 {
  color: #ec4963;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.btn {
  float: right;
}

.btn-grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#fd8a66), color-stop(49%, #fd4c72), color-stop(85%, #fd387c), to(#fd2384));
  background-image: linear-gradient(to right, #fd8a66 0%, #fd4c72 49%, #fd387c 85%, #fd2384 100%);
  margin: 10px;
  height: 60px;
  width: 180px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 30px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */